@model VehicleManager.Application.ViewModels.AddressVm.NewAddressVm

@{
    ViewData["Title"] = "AddAddress";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>


<h1>AddAddress</h1>

<h4>NewAddressVm</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddAddress">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Voivodeship" class="control-label">Województwo</label>
                <select asp-for="Voivodeship" asp-items="@(new SelectList(Model.VoivodeshipsVm, "Id", "Name"))" id="voivodoship" class="custom-select">
                    <option value="">Wybierz województwo</option>
                </select>
                <span asp-validation-for="Voivodeship" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="District" class="control-label">Powiat</label>
                <select asp-for="District" id="district" class="form-control">
                </select>
                <span asp-validation-for="District" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Community" class="control-label">Gmina</label>
                <select asp-for="Community" id="community" class="form-control">
                </select>
                <span asp-validation-for="Community" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label">Miasto</label>
                <select asp-for="City" id="city" class="form-control">
                </select>
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityType" class="control-label">Typ</label>
                <select asp-for="CityType" id="cityType" class="form-control">
                </select>
                <span asp-validation-for="CityType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZipCode" class="control-label">Kod pocztowy</label>
                <Input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuildigNumber" class="control-label">Numer domu</label>
                <input asp-for="BuildigNumber" class="form-control" />
                <span asp-validation-for="BuildigNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlatNumber" class="control-label">Nr lokalu</label>
                <input asp-for="FlatNumber" class="form-control" />
                <span asp-validation-for="FlatNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetFromUser" class="control-label">Ulica</label>
                <input asp-for="StreetFromUser" class="form-control" />
                <span asp-validation-for="StreetFromUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressTypeId" class="control-label"></label>
                <select asp-for="AddressTypeId" asp-items="@(new SelectList(Model.AddressTypes, "Id", "Name"))" id="voivodoship" class="custom-select">
                    <option value="">Wybierz typ adresu</option>
                </select>
                <span asp-validation-for="AddressTypeId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



<div>
    <a asp-action="Index">Back to List</a>
</div>



<script>

    //$(document).ready(function () {
    //    var citytype = $("#cityType");
    //    var city = $("#city");

    //    citytype.prop('disabled', true);
    //    city.change(function () {
    //        if ($(this).val() == "0") {
    //            citytype.prop('disabled', true);
    //            citytype.val("0");
    //        }
    //        else {
    //            $.ajax({
    //                url: "/api/citytype/" + $(this).val(),
    //                method: "get",
    //                success: function (data) {
    //                    console.log("Succesaaas:");
    //                    citytype.val(data.name);
    //                    citytype.append($({ value: data.id, text: data.name}));
    //                }
    //            });
    //        }
    //    });
    //});

    $(document).ready(function () {
        var voivd = $("#voivodoship");
        var district = $("#district");
        var city = $("#city");
        var community = $("#community");
        district.prop('disabled', true);
        community.prop('disabled', true);
        city.prop('disabled', true);
        voivd.change(function () {
            if ($(this).val() == "0") {
                district.prop('disabled', true);
                district.val("0");
                city.prop('disabled', true);
                city.val("0");
                community.prop('disabled', true);
                community.val("0");

            }
            else {
                $.ajax({
                    url: "/api/Voivedoship/" + $(this).val(),
                    method: "get",
                    success: function (data) {
                        district.prop('disabled', false);
                        city.prop('disabled', true);
                        community.prop('disabled', true);
                        city.empty();
                        community.empty();
                        console.log("Success:");
                        district.empty();
                        district.append($('<option/>', { value: '0', text: '--Wybierz powiat--' }));

                        city.empty();
                        $(data).each(function (index, item) {
                            district.append($('<option/>', { value: item.id, text: item.name }));
                        });
                    }
                });
            }
        });
    });

    $(document).ready(function () {
        var district = $("#district");
        var community = $("#community");
        var city = $("#city");
        city.empty();
        city.prop('disabled', true);
        district.change(function () {
            if ($(this).val() == "0") {
                community.prop('disabled', true);
                commun.empty();
                city.prop('disabled', true);
                city.empty();
            }
            else {
                $.ajax({
                    url: "/api/community/" + $(this).val(),
                    method: "get",
                    success: function (data) {
                        community.prop('disabled', false);
                        city.prop('disabled', true);
                        city.empty();
                        console.log("Success:");
                        community.empty();
                        community.append($('<option/>', { value: '0', text: '--Wybierz gminę--' }));
                        $(data).each(function (index, item) {
                            community.append($('<option/>', { value: item.id, text: item.name }));

                        });
                    }
                });
            }
        });
    });

    $(document).ready(function () {
        var commun = $("#community");
        var city = $("#city");
        city.prop('disabled', true);

        commun.change(function () {
            if ($(this).val() == "0") {
                city.prop('disabled', true);
            }
            else {
                console.log($(community).val())

                $.ajax({
                    url: "/api/city/" + $(community).val(),
                    method: "get",
                    success: function (data) {
                        console.log("Success:");
                        city.prop('disabled', false);

                        city.empty();
                        city.append($('<option/>', { value: '0', text: '--Wybierz miasto--' }));
                        $(data).each(function (index, item) {
                            city.append($('<option/>', { value: item.id, text: item.name }));
                        });
                    }
                });
            }
        });
    });

    $(document).ready(function () {
        var city = $("#city");
        var cityType = $("#cityType");
        cityType.prop('disabled', true);

        city.change(function () {
            if ($(this).val() == "0") {
                cityType.prop('disabled', true);
            }
            else {
                console.log($(cityType).val())

                $.ajax({
                    url: "/api/citytype/" + $(city).val(),
                    method: "get",
                    success: function (data) {
                        console.log("Success:");
                        cityType.prop('disabled', false);

                        cityType.empty();
                        cityType.append($('<option/>', { value: '0', text: '--Wybierz amiasto--' }));
                        $(data).each(function (index, item) {
                            cityType.append($('<option/>', { value: item.id, text: item.name }));
                        });
                    }
                });
            }
        });
    });
</script>