@model VehicleManager.Application.ViewModels.AddressVm.AddressBaseVm

 

<h1>Index</h1>
<form>
    <select id="voivdlist" asp-for="Voivodoship" asp-items="@ViewBag.ListVoivodoship">
        <option>Wybierz województwo</option>
    </select>

    <select id="districtList" asp-for="District">
        <option>Wybierz powiat</option>
    </select>
</form>

