@model VehicleManager.Application.ViewModels.Vehicle.NewVehicleVm
@{
    ViewData["Title"] = "AddVehicle";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
<h2 class="text-center">Dodaj pojazd!</h2> 
                                          <hr />

<form asp-action="AddVehicle" class="offset-lg-3">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" class="form-control" />
    <input type="hidden" asp-for="ApplicationUserID" class="form-control" />
    <input type="hidden" asp-for="ApplicationUserID" class="form-control" />
    <div class="form-group row">
        <label asp-for="VehicleTypeId" class="col-sm-2 col-form-label">Rodzaj pojazdu</label>
        <div class="col-sm-4">
            <select asp-for="VehicleTypeId" asp-items="@(new SelectList(Model.VehicleTypes,"Id", "Name"))" class="custom-select">
                <option value="">Wybierz rodzaj pojazdu</option>
            </select>
        </div>
        <span asp-validation-for="VehicleTypeId" class="text-danger"></span>
    </div>
    <div class="form-group row">
        <label asp-for="VehicleBrandNameId" class="col-sm-2 col-form-label">Marka</label>
        <div class="col-sm-4">
            <select asp-for="VehicleBrandNameId" asp-items="@(new SelectList(Model.VehicleBrandNames,"Id", "Name"))" class="custom-select">
                <option value="">Wybierz markę pojazdu</option>
            </select>
        </div>
        <span asp-validation-for="VehicleBrandNameId" class="text-danger"></span>
    </div>

    <div class="form-group row">
        <label asp-for="Model" class="col-sm-2 col-form-label">Model pojazdu</label>
        <div class="col-sm-4">
            <input asp-for="Model" class="form-control" />
        </div>
        <span asp-validation-for="Model" class="text-danger"></span>
    </div>
    <div class="form-group row">
        <label asp-for="Vin" class="col-sm-2 col-form-label">VIN</label>
        <div class="col-sm-4">
            <input asp-for="Vin" class="form-control" />
        </div>
        <span asp-validation-for="Vin" class="text-danger"></span>
    </div>
    <div class="form-group row">
        <label asp-for="RegistrationNumber" class="col-sm-2 col-form-label">Numer rejestracyjny</label>
        <div class="col-sm-4">
            <input asp-for="RegistrationNumber" class="form-control" />
        </div>
        <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
    </div>
    <div class="form-group row">
        <label asp-for="Millage" class="col-sm-2 col-form-label">Przebieg</label>
        <div class="col-sm-4">
            <input asp-for="Millage" class="form-control" />
        </div>
        <span asp-validation-for="Millage" class="text-danger"></span>
    </div>
    <div class="form-group row">
        <label asp-for="DateOfFirstRegistration" class="col-sm-2 col-form-label">Data pierwszej rejestracji</label>
        <div class="col-sm-4">
            <input asp-for="DateOfFirstRegistration" class="form-control" />
        </div>
        <span asp-validation-for="DateOfFirstRegistration" class="text-danger"></span>
    </div>



    <div class="form-group row">
        <label asp-for="YearHelper" class="col-sm-2 col-form-label">Rok produkcji pojazdu</label>
        <div class="col-sm-4">
            <input asp-for="YearHelper" class="form-control" />
        </div>
        <span asp-validation-for="YearHelper" class="text-danger"></span>
    </div>
    <div class="form-group row">
        <label asp-for="EnginePower" class="col-sm-2 col-form-label">Moc silnika</label>
        <div class="col-sm-4">
            <input asp-for="EnginePower" class="form-control" />
        </div>
        <span asp-validation-for="EnginePower" class="text-danger"></span>
    </div>
    <div class="form-group row">
        <label asp-for="EngineCapacity" class="col-sm-2 col-form-label">Pojemność silnika</label>
        <div class="col-sm-4">
            <input asp-for="EngineCapacity" class="form-control" />
        </div>
        <span asp-validation-for="EngineCapacity" class="text-danger"></span>
    </div>
    <div class="form-group row">
        <label asp-for="PermissibleGrossWeight" class="col-sm-2 col-form-label">Dopuszczalna masa całkowita</label>
        <div class="col-sm-4">
            <input asp-for="PermissibleGrossWeight" class="form-control" />
        </div>
        <span asp-validation-for="PermissibleGrossWeight" class="text-danger"></span>
    </div>
    <div class="form-group row">
        <label asp-for="OwnWeight" class="col-sm-2 col-form-label">Masa własna</label>
        <div class="col-sm-4">
            <input asp-for="OwnWeight" class="form-control" />
        </div>
        <span asp-validation-for="OwnWeight" class="text-danger"></span>
    </div>
    <div class="form-group row">
        <label asp-for="VehicleFuelTypeId" class="col-sm-2 col-form-label">Rodzaj paliwa</label>
        <div class="col-sm-4">
            <select asp-for="VehicleFuelTypeId" asp-items="@(new SelectList(Model.VehicleFuelTypes,"Id", "Name"))" class="custom-select">
                <option value="">Wybierz rodzaj paliwa</option>
            </select>
        </div>
        <span asp-validation-for="VehicleFuelTypeId" class="text-danger"></span>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">Tak/Nie</div>
        <div class="col-sm-10">
            <div class="form-check">
                <input class="form-check-input" asp-for="IsGasInstalation" type="checkbox">
                <label class="form-check-label" for="gridCheck1">
                    Czy pojazd jest wyposażony w instalację lpg?
                </label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">Tak/Nie</div>
        <div class="col-sm-10">
            <div class="form-check">
                <input class="form-check-input" asp-for="IsRegisterdInPoland" type="checkbox">
                <label class="form-check-label" for="gridCheck1">
                    Czy pojazd zarejestrowan w Polsce?
                </label>
            </div>
        </div>
    </div>
    <input type="submit" value="Dodaj pojazd" class="btn btn-outline-success offset-lg-5" />
</form>
@Html.ActionLink("Wróć do strony głównej", "Index", "Home", null, new { @class = "btn btn-outline-primary" })

